.main {
    margin: 10px auto;
    padding: 20px;
    width: 600px;
    /* height: 80%; */
    background:#EEE;

    zoom:1;
}

.main #control{
    width: 180px;
    float: right;
    text-align:center;
}

.main .tip {
    font-size: 14px;
    margin: 5px;
    /* padding: 5px; */
}

.main .light{
    font-size:30px;
}

.main .red {
    color: red;
}

.main #level {
    margin: 10px 0;
    line-height: 25px;

}

.main #begin {
    margin:5px;
    font-size: 20px;
    padding: 2px 10px;
    /* cursor: pointer; */
}

.main:after {
    clear: both;
    display: block;
    content: "";
    /* line-height: 0; */
    /* height: 0; */
    /* visibility:hidden; */
}



.main #tips {
    margin: 5px;
    text-align: left;
    font-size: 14px;
    text-align: left;
}


.main #tips ul li{
   margin: 5px 0;
   line-height: 20px;
}
